\TemplateSectionTitle{ {{ module.title }} }
\begin{TemplateCard}
{% for item in module["items"] %}
\EntryHeader{ {{ item.name }} }{ {{ item.time }} }
{% if item.role %}\EntryRole{ {{ item.role }} }{ {{ item.link | default("") }} }{% endif %}
{% if item.bullets %}
\begin{itemize}
{% for bullet in item.bullets %}
  \item {{ bullet.text }}
{% endfor %}
\end{itemize}
{% endif %}
{% if not loop.last %}\vspace{0.18em}{% endif %}
{% endfor %}
\end{TemplateCard}
